<script src="deletealbum.js"></script>


<div class="container">
    <center>
    <div id="landing-pg">
    <h1>Albums</h1>
    <h3>This page allows access to the Albums in the database.</h3>
    </center>
</div>
    <table>
        <thead>
            <th>AlbumID</th>
            <th>Featued Artist</th>
            <th>Album Title</th>
        </thead>
        <tbody>
            {{#each album}}
            <tr>
                <td>{{albumID}}</td>
                <td>{{featuredArtist}}</td>
                <td>{{albumTitle}}</td>
                <td><button onclick="deleteAlbum({{albumID}})">Delete</button></td>
                <td><a href="/albums/{{albumID}}">Update</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <form id="addalbum" action="/albums" method="post">
    Album Title: <input type="text" name="albumTitle"><br>
    Artist: <select name="primaryArtist">
        {{#each artists}}
        <option value="{{artistID}}">{{primaryArtist}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
    </form>
