<div class="container">
    <center>
      <div id="landing-pg">
      <h1>Genre Intersection Table</h1>
      <h3>This page allows access to the Genre Intersection table database entity.</h3>
    </center>
</div>

<table>
  <thead>
    <th>Album ID</th>
    <th>Genre ID</th>
  </thead>

  <tbody>
    {{#each albums_with_genres}}
    <tr>
      <td>{{albID}}</td>
      <td>{{genID}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<form id="addalbum-genre" action="/intersect" method="post">
    AlbumID: <select name="albID">
      {{#each albums}}
      <option value="{{albID}}">{{albumTitle}}</option>
      {{/each}}
    </select>
    Genres: <select name="genID">
        {{#each genres}}
        <option value="{{genID}}">{{genreName}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Submit">
    </form>