<script src="deletesong.js"></script>


<div class="container">
    <center>
    <div id="landing-pg">
    <h1>Songs</h1>
    <h3>This page allows access to the Songs in the database.</h3>
    </center>
</div>
    <table>
        <thead>
            <th>SongTitle</th>
            <th>Run Time</th>
            <th>Writing Credit</th>
        </thead>
        <tbody>
            {{#each song}}
            <tr>
                <td>{{songTitle}}</td>
                <td>{{Run Time}}</td>
                <td>{{Writing Credit}}</td>
                <td><button onclick="deleteSong({{songID}})">Delete</button></td>
                <td><a href="/song/{{songID}}">Update</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <form id="addsong" action="/songs" method="post">
    Song Title: <input type="text" name="songTitle"><br>
    Run Time (in seconds): <input type="number" name="runTime"><br>
    Writing Credit: <input type="text" name="writingCredit"><br>
    <input type="submit" value="Submit">
    </form>