<script src="deletesong.js"></script>


<div class="container">
    <center>
    <div id="landing-pg">
    <h1>Songs</h1>
    <h3>This page allows access to the Songs in the database.</h3>
    </center>
</div>
    <table>
        <thead>
            <th>SongID</th>
            <th>SongTitle</th>
            <th>alID</th>
            <th>Runtime</th>
            <th>Writing Credit</th>
        </thead>
        <tbody>
            {{#each song}}
            <tr>
                <td>{{songID}}</td> 
                <td>{{songTitle}}</td>
                <td>{{alID}}</td>
                <td>{{runTime}}</td>
                <td>{{writingCredit}}</td>
                <td><button onclick="deleteSong({{songID}})">Delete</button></td>
                <td><a href="/songs/{{songID}}">Update</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <form id="addsong" action="/songs" method="post">
    Song Title: <input type="text" name="songTitle"><br>
    Run Time (in seconds): <input type="number" name="runTime"><br>
    Writing Credit: <input type="text" name="writingCredit"><br>
    Album Title: <select name="alID">
        {{#each albums}}
        <option value="{{albumID}}">{{albumTitle}}</option>
        {{/each}}
    <input type="submit" value="Submit">
    </form>
        
    <form id='search-songs' action='' method=''>
        <label>Search for song Title:</label>
        <input id='song_title_search' type='text' name='song_title_search' value=''>
        <input type="button" value="Search" onclick="searchSongbyTitle()">
    </form>