<script>
    function updateAlbum(albumID){
        $.ajax({
            url: '/albums/' + albumID,
            type: 'PUT',
            data: $('#update-album').serialize(),
            success: function(result){
                window.location.replace("./");
            }
        })
    };

    function selectArtist(artistID){
        $("#artist-selector").val(artistID);
    }

</script>

<h1>Update {{album.originalArtist}} {{album.albumTitle}}:</h1>
<form id="update-album" action="/albums" method="post">
    Artist: <select name="artID" id="artist-selector">
        {{#each artists}}
        <option value="{{artistID}}">{{primaryArtist}}</option>
        {{/each}}
    </select><br>
    Album Title: <input type="text" name="albumTitle" value="{{album.albumTitle}}"><br>
</form>
<button id="update"onclick="updateAlbum({{albumID}}); selectArtist({{album.artID}})">Update</button>
