<script>
    function updateAlbum(albumID){
        $.ajax({
            url: '/albums/' + albumID,
            type: 'PUT',
            data: $('#update-album').serialize(),
            success: function(result){
                window.location.replace("./");
            }
        })
    };

    function selectArtist(artistID){
        $("#artist-selector").val(artistID);
    }

</script>

<h1>Update {{album.originalArtist}} {{album.albumTitle}}:</h1>
<form id="update-album" action="/album" method="post">
    original Artist: <input type="text" name="originalArtist" value="{{album.originalArtist}}"><br>
    Album Title: <input type="text" name="albumTitle" value="{{album.albumTitle}}"><br>
    original Artist: <select name="originalArtist" id="artist-selector">
        {{#each artists}}
        <option value="{{artistID}}">{{primaryArtist}}</option>
        {{/each}}
    </select>
</form>
<button id="update"onclick="selectArtist({{artistID}}) updateAlbum({{album.albumID}})">Update</button>